Eve generates malformed ETag header

This is what I get from the demo app:

```
$ curl -si https://eve-demo.herokuapp.com/people/568125475cd39400039b5772 | grep Etag
Etag: a0b33aef93d38ee9c61689329da2fa710d89709a
```

This violates [RFC 7232 § 2.3](http://tools.ietf.org/html/rfc7232#section-2.3) in that the double quotes are missing.

As a consequence, if the client fixes the entity-tag and sends it back in double quotes, it doesn’t get the desired 304 (Not Modified):

```
$ curl -si -H 'If-None-Match: a0b33aef93d38ee9c61689329da2fa710d89709a' \
>   https://eve-demo.herokuapp.com/people/568125475cd39400039b5772 | \
>   head -n 1
HTTP/1.1 304 NOT MODIFIED

$ curl -si -H 'If-None-Match: "a0b33aef93d38ee9c61689329da2fa710d89709a"' \
>   https://eve-demo.herokuapp.com/people/568125475cd39400039b5772 | \
>   head -n 1
HTTP/1.1 200 OK
```