Add support for Location header on 201 (Created) responses

[RFC 7231 § 6.3.2](http://tools.ietf.org/html/rfc7231#section-6.3.2) says:

> The primary resource created by the request is identified by either a Location header field in the response or, if no Location field is received, by the effective request URI.

This is what I get from the demo app:

```
$ curl -si -X POST --data-binary '{"lastname":"Mikkelson"}' \
>   -H 'Content-Type: application/json' \
>   https://eve-demo.herokuapp.com/people
HTTP/1.1 201 CREATED
Connection: keep-alive
Content-Type: application/json
Content-Length: 279
X-Ahmed: Je Suis Ahmed.
X-Charlie: Je Suis Charlie.
Server: Eve/0.5.2 Werkzeug/0.9.6 Python/2.7.4
Date: Sun, 03 Jan 2016 19:14:27 GMT
Via: 1.1 vegur

{"_id": "568973132aaf280003a647e8", "_links": {"self": {"title": "person", "href": "people/568973132aaf280003a647e8"}}, "_updated": "Sun, 03 Jan 2016 19:14:27 GMT", "_etag": "a35f3b110841844117502dd601591d2379244ca0", "_created": "Sun, 03 Jan 2016 19:14:27 GMT", "_status": "OK"}
```

According to RFC 7231, this response would seem to indicate that the `https://eve-demo.herokuapp.com/people` resource was created, but in fact it is `https://eve-demo.herokuapp.com/people/568973132aaf280003a647e8`.

To be honest, I don’t think the standard is very reasonable here. But since you already seem to have the proper relative URI (`people/568973132aaf280003a647e8`), and the standard [now allows](http://tools.ietf.org/html/rfc7231#section-7.1.2) relative URIs in the `Location` header, would it be easy to simply copy it there?


Oh, the `href` is not relative to the request URI but to the API entry point. It’s trickier then.

Currently Eve does not support the `Location` header. 

I agree that it would nice to have it. I would  slightly deviate from the spec though, and make it relative to the api entry point so it would be consistent with current HATEOAS implementation. 

> I would slightly deviate from the spec though, and make it relative to the api entry point so it would be consistent with current HATEOAS implementation.

I think this would make the header pretty useless, because a client that is aware of Eve’s entry point semantics already has all the information it needs from the response, and will gain nothing from an extra header. It’s your call though.

Well it took a long time coming, but now it's done. 